@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-600;
  -webkit-font-smoothinf: antialiased;
}

::-moz-selection {
  /* Code for Firefox */
  background: #610000;
  color: #f1f1f1; 
}

::selection {
  background: #610000;
  color: #f1f1f1;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #29282800;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292828;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111010;
}
